<h1>{{ title }}</h1>
<div class="row">
    <div class="col-md-6 well">
        <form [ngFormModel]="form" (ngSubmit)="save()">
            <fieldset>
                <legend>
                    User
                </legend>
                <div class="form-group">
                    <label>First Name</label>
                    <input [(ngModel)]="user.firstName" #name="ngForm" ngControl="firstName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input [(ngModel)]="user.lastName" #name="ngForm" ngControl="lastName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input [(ngModel)]="user.email"  id="email" type="text" class="form-control" placeholder="Required" ngControl="email" #email="ngForm" focus>
                    <div *ngIf="email.control.pending">Checking for Uniqueness...</div>
                    <div *ngIf="email.touched && email.errors">
                        <div *ngIf="email.errors.required" class="alert alert-danger">
                            Email is required
                        </div>
                        <div *ngIf="email.errors.containsSpace" class="alert alert-danger">
                            Email cannot contain space
                        </div>
                        <div *ngIf="email.errors.invalidEmailAddress" class="alert alert-danger">
                            Invalid Email Address
                        </div>
                        <div *ngIf="email.errors.alreadyExists" class="alert alert-danger">
                            Email already taken
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input [(ngModel)]="user.phone" ngControl="phone" type="text" class="form-control">
                </div>
            </fieldset>
            <fieldset ngControlGroup="address">
                <legend>Address</legend>
                <div class="form-group">
                    <label>Address Line1</label>
                    <input [(ngModel)]="user.addressLine1" ngControl="addressLine1" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Address Line2</label>
                    <input [(ngModel)]="user.addressLine2" ngControl="addressLine2" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Address Line3</label>
                    <input [(ngModel)]="user.addressLine3" ngControl="addressLine3" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Address Line4</label>
                    <input [(ngModel)]="user.addressLine4" ngControl="addressLine4" type="text" class="form-control">
                </div>

            </fieldset>
            <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
                Save
            </button>
        </form>
    </div>
</div> 