<table class="table table-hover table-striped table-sortable">
    <thead>
        <tr>
            <td style="width: 3%; font-weight: bold;" *ngFor="let button of preButtons">
                {{button.display}}
            </td>
            <th *ngFor="let column of columns" [class]="selectedClass(column.variable)" (click)="changeSorting(column.variable)">
                {{column.display}}
            </th>
            <td style="width: 3%; font-weight: bold;" *ngFor="let button of buttons" >
                   {{button.display}}
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let object of data | orderBy : convertSorting()">
            <td *ngFor="let button of preButtons">
                <div *ngIf="button.action == 'select'">
                    <a class="btn btn-primary" (click)="selectAndClose({ 'id' : object.id })" >
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
            </td>
            <td *ngFor="let column of columns">
                {{object[column.variable] | format : column.filter}}
            </td>
            <td *ngFor="let button of buttons">
                <div *ngIf="button.action == 'view'">
                    <a class="btn btn-primary" [routerLink]="[button.router, { 'id' : object.id }]">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </div>
                <div *ngIf="button.action == 'edit'">
                    <a class="btn btn-primary" [routerLink]="[button.router, { 'id' : object.id }]">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </div>
                <div *ngIf="button.action == 'delete'">
                    <button class="btn btn-danger" [routerLink]="[button.router, { 'id' : object.id }]">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
