
.clickable {
    cursor: pointer;
}

.thumbnail {
    border-radius: 100%;
}

/**********************************************************************************
Red Boarder around invalid inputs
**********************************************************************************/
.ng-touched.ng-invalid {
    border: 1px solid red;
}