<div class="dropdown" >
         <div *ngIf="dependant > 0">
            <select class="form-control" [(ngModel)]="selectedParent.parentId" (focus)="loadParent(list)" (change)="onSelect($event.target.value)">
                <option value="0">--Select--</option>
                <option *ngFor="let parent of parents" value={{parent.parentId}}>{{parent.name}}</option>
            </select>
            <br /><br />
        </div>
 </div>
<div class="dropdown">
        <div *ngIf="dependant > 1">
            <select class="form-control">
                <option  [(ngModel)]="selectedChild.childId" *ngIf='selectedChild.childId == 0' value="0">--Select--</option>
                <option *ngFor="let child of children " value={{child.childId}}>{{child.name}}</option>
            </select>
        </div>
 </div>
