
<section class="col-md-8 col-md-offset-2">

    <form [ngFormModel]="form" (ngSubmit)="onSubmit()">
        <br />
        <div class="form-group">
            <label>First name</label>
            <input id="firstName" type="text" class="form-control"  placeholder="Required" ngControl="firstName" #firstName="ngForm"   focus  >
                <div *ngIf="(firstName.touched || firstName.dirty  || !firstName.pristine ) && firstName.errors">
                    <div *ngIf="firstName.errors.required || firstName.errors.isEmpty" class="alert alert-danger">
                        First name is required
                    </div>
                    <div *ngIf="firstName.errors.outOfRange50" class="alert alert-danger">
                        Cannot be greater than 50 characters.
                    </div>
                </div>
        </div> 

        <div class="form-group">
            <label>Last name</label>
            <input id="lastName" type="text" class="form-control" placeholder="Required" ngControl="lastName" #lastName="ngForm"    focus>
            <div *ngIf="(lastName.touched || lastName.dirty  || !lastName.pristine ) && lastName.errors">
                <div *ngIf="lastName.errors.required  || lastName.errors.isEmpty" class="alert alert-danger">
                    Last name is required
                </div>
                <div *ngIf="lastName.errors.outOfRange50" class="alert alert-danger">
                    Cannot be greater than 50 characters.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input id="email" type="text" class="form-control" placeholder="Required" ngControl="email" #email="ngForm"   focus>
            <div *ngIf="email.control.pending">Checking for Uniqueness...</div>
            <div *ngIf="(email.touched || email.dirty  || !email.pristine ) && email.errors">
                <div *ngIf="email.errors.required || email.errors.isEmpty" class="alert alert-danger">
                    Email is required
                </div>
                <div *ngIf="email.errors.outOfRange50" class="alert alert-danger">
                    Email must not be greater than 50 characters.
                </div>
                <div *ngIf="email.errors.containsSpace" class="alert alert-danger">
                    Email cannot contain space
                </div>
                <div *ngIf="email.errors.invalidEmailAddress" class="alert alert-danger">
                    Invalid Email Address
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input id="password"  type="password"  class="form-control" placeholder="Required" ngControl="password" #password="ngForm"  focus>
            <div *ngIf="(password.touched || password.dirty  || !password.pristine ) && password.errors">
                <div *ngIf="password.errors.required || password.errors.isEmpty" class="alert alert-danger">
                    Password is required
                </div>
                <div *ngIf="password.errors.outOfRange50" class="alert alert-danger">
                    Email must not be greater than 50 characters.
                </div>
                <div *ngIf="password.errors.containsSpace" class="alert alert-danger">
                    Password cannot contain a space
                </div>
                <div *ngIf="password.errors.invalidPassword" class="alert alert-danger">
                    Must be between 6 to 10 characters containing One Uppercase, One Lowercase and One Digit
                </div>
            </div>
        </div> 
         
        <br />
        <button class="btn btn-primary" [disabled]="!form.valid" type="submit">Sign Up</button>
        <spinner [visible]="signingUp"></spinner>
 




</form>
</section>
