<!--
This is my Table
<table-sortable [columns]="columns"
                [data]="rows"
                [sort]="sorting">
    Loading table...
</table-sortable>
-->
<div id="collapseOne" class="panel-collapse collapse in">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    <button class="form-control btn btn-default" (click)="openComponent('users')">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                    <input type="text" [(ngModel)]='selectedUserId'>
                    <input type="text"  disabled  [(ngModel)]='selectedUserName'>
                    <users *ngIf="componentOpenUsers === true"
                           (OutputButtonCloseClick)="closeComponent($event,'users')"
                           [InputMode]="'select'"
                           [InputModal]="'true'">
                        Loading users...
                    </users>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel-body">
                <button class="form-control btn btn-default" (click)="openComponent('tests')">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
                <input type="text" [(ngModel)]='selectedTestId'>
                <input type="text" disabled  [(ngModel)]='selectedTestName'>
                <users *ngIf="componentOpenTests === true"
                       (OutputButtonCloseClick)="closeComponent($event,'tests')"
                       [InputMode]="'select'"
                       [InputModal]="'true'">
                    Loading users...
                </users>
            </div>
        </div>
    </div>
    <my-country-list [InputDependant]=2>Loading....</my-country-list>
 
</div>



 